<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
            <h2>Search with Country name here</h2>
            <form id="form1">
            <input type="text" id="address">
            <button>Search</button>
            </form>
          <p id="location"></p>
          <p id="forecast"></p>
          <p id="longandlat"></p>
          <p id="error"></p>
          
          <script src="js/script.js"></script>
    </body>
</html>